body {
    position: relative;
}

.glyphicon {
    color: black;
}

.emergency {
    color: red;
    text-decoration: underline;
}

.whitetext {
    color: white;
}

#collapser {
    background: rgba(50,150,255, 0.4);
}

.navbar .nav > li > a {
    color: white;
}

.navbar-brand {
    font-weight: bold !important;
    color: white !important;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(50,150,255,0.5);
    border-bottom: 1px solid rgba(50,150,255,0.4);

    padding: 0;
    margin-bottom: 0;
}

@media (max-width: 500px) {
  #header {
    position: relative;
    background: rgba(50,150,255,1);
  }
}

#myCarousel {
    margin: 0 auto;
    max-height: 100%;
}

#myCarousel img {
    max-height: 100%;
    margin: 0 auto;
}

h3, .blue {
    margin-top: 0;
    color: #3296FF;
}

h4 {
    color: #3296FF;
}
.thumbnail {
    float: left;
    margin: 10px 5px 0 5px;
    background: #FAFAFA;
    border-radius: 10px;
    max-width: 400px;
}

.thumbnail img {
    border-radius: 10px;
}

#pages, #forms {
    border-top: 50px solid #4499ff;
}

@media (max-width: 768px) {
    #pages, #forms {
        border-top: 56px solid #4499ff;
    }
}

@media (max-width: 500px) {
    #pages, #forms {
        border-top: 0;
    }
}

.form {
    text-align: center;
    margin: auto;
    width: 400px;
    max-width: 100%;
    padding: 0 0 20px 0;
}

#postForm label, #postForm textarea {
    display: block;
    padding: 2px;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 600px;
}

hr {
    width: 100%;
    max-width: 60%;
    margin: auto;
    height: 20px;
}

.formParagraph {
    margin-top: 14px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.welcome {
    margin:20px 0 30px 0;
    text-align: center;
}

.reviewContent {
    margin-bottom: 40px;
}

.date {
    font-size: 70%;
}